version: "3.9"
services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      - API_PORT=${API_PORT:-8080}
      - GIN_MODE=${GIN_MODE:-release}
      - DB_PATH=${DB_PATH:-./database/app.db}
      - JWT_SECRET=${JWT_SECRET:-supersecretkey}
      - JWT_EXPIRES_AT=${JWT_EXPIRES_AT:-72h}
